<%console.log(`usertable.ejs -> dados: ${JSON.stringify(dados)}`); %> <%
if(req.session.loggedin) { %>

<table>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Tel</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    <% let index=1; dados.forEach(user =>{ %> <tr <%-
    req.session.username==user.username ? `style="color: white; font-style:
    bold;` : `` %>>
    <td><%= user.id %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.tel %></td>
    <td><%= user.password %></td>
    <% index++; }); %>
  </tbody>

  <tfoot>
    <tr>
      <th colspan="5" style="font-size: 16px">
        <%= `Usuarios registrados: ${index-1}` %>
      </th>
    </tr>
  </tfoot>
</table>

<% } else { %>
<main
  style="
    padding: 20px;
    text-align: center;
    border: 10px solid red;
    background-color: red;
    font-size: 64px;
    border-radius: 150px;
  "
>
  ACESSO RESTRITO!!! <br />
  VOCÊ FOI PARA O SAL!!! <br />
  A POLICIA FEDERAL IRÁ APARECER NA SUA CASA!!!! AMANHÃ!!
</main>

<% } %>
