<table>
  <thead>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th scope="col">Password</th>
  </thead>

  <tbody>
    <%#- console.log(`${JSON.stringify(dados)}`); %>
    <%# let index=1; dados.forEach (user => { %>
    <% for (let i = 0; i < dados.length; i++) { %>
    <tr <%- req.session.username==dados[i].username ? `style="color: white; font-style: bold;"` : `` %>>
      <td><%= dados[i].id %></td>
      <td><%= dados[i].username %></td>
      <td><%= dados[i].email %></td>
      <td><%= dados[i].tel %></td>
      <td><%= dados[i].password %></td>
    </tr>
    <% } %>
    <%# index++ }); %>
  </tbody>

  <tfoot>

  </tfoot>
</table>